* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.nav-container {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 40px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  margin-left: 20px;
  width: 150px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin-left: auto;
  gap: 40px;
}
.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.login-btn {
  margin-left: auto;
  margin-right: 20px;
  list-style: none;
  display: flex;
  gap: 10px;
}

.btn-outline,
.btn-primary {
  padding: 8px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.btn-outline {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.btn-primary {
  background: white;
  color: blue;
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: absolute;
  color: white;
  top: 50%;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
}

.hero-content p {
  font-size: 18px;
  opacity: 0.9;
}

.hero {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.hero-content {
  position: absolute;
  color: white;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 16px;
  opacity: 0.9;
}

.offers, .travel, .hero-content {
  padding: 60px 50px;
}

.text-section h2 {
  font-size: 28px;
  font-weight: 700;
}

.text-section p {
  color: #555;
  margin-bottom: 20px;
}

.offer-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.offer-slider img {
  width: 420px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
}

.travel-cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.card img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.card-btn {
  width: 120px;
  padding: 8px 0;
  background: #ffffff;
  border: 2px solid #4169E1;
  color: #4169E1;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}




.app-section {
  padding: 60px 50px;
  background: #102b8c;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.app-text {
  color: white;
}

.app-text h2 {
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.5;
}

.app-text p {
  line-height: 2;
  margin-bottom: 20px;
}

.store-buttons {
  display: flex;
  gap: 20px;
}

.store-btn {
  height: 50px;
  width: auto;
  cursor: pointer;
}

.app-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-image img {
  max-width: 100%;
  height: 500px;
}

.footer {
  background: #102b8c;
  color: white;
  padding: 50px 40px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.footer-col h3 {
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin: 8px 0;
}

.footer-col ul li a {
  color: #d6e0ff;
  font-size: 14px;
  text-decoration: none;
}

.payments img {
  width: 40px;
  margin-top: 10px;
}